<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>Document</title>
</head>
<body ng-app="todo" ng-controller="TodoCtrl">

<div class="container">

<h1>투두 목록</h1>
<ul class="list-unstyled">
    <li ng-repeat="todo in todos | filter: statusFilter">
        <div class="input-group mb-3">
            <span class="input-group-text"><input type="checkbox" ng-model="todo.completed"></span>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Activity" ng-model="todo.title">
                <button class="btn btn-danger" type="button" ng-click="remove(todo)">삭제하기</button>
                <label for="floatingInputGroup1">Username</label>
            </div>
        </div>
        <date>{{ todo.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</date>
    </li>
</ul>

<button class="btn btn-primary" ng-click="statusFilter = {completed: true}">Completed</button>
<button class="btn btn-primary" ng-click="statusFilter = {completed: false}">Active</button>
<button class="btn btn-primary" ng-click="statusFilter = {}">All</button>
</div>

</body>
</html>